@import "_mixin.scss";

$blue-light: #71c3d8;
$yellow-light: #f1d63c;
$my-white: #504747;

$orange:#FD975E;


@font-face {
  font-family: Noto Sans TC;
  src: url("../info//NotoSansTC.otf") format("opentype");
}

* {
  box-sizing: border-box;
  font-family: "Roboto" !important;
  font-display: swap;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.btn_more {
  @include button_basic(144px);
}
